
Application {
	background-gradient-colors: #333333, #000000;
	theme-color: #333333;
	/*
	set up bg color in Application itself, because CSS will be loaded too late
	background-color: #000000;
	*/
	
	/*
	backgroundGradientAlphas: 0.5, .5;
	
	*/
	
/*
	for MenuBar 
	
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
*/
}